@charset "utf-8";
/* CSS Document */
body{background:#fff; border-top:4px solid #e5082e; font-family: 'Lato', sans-serif; font-weight:400; color:#000; font-size:17px; line-height:20px; padding-top:18px;}
*{padding:0; margin:0;}
ul, li{list-style-type:none;}
a{text-decoration:none; color:#5c5c5c;}
.clr{clear:both; line-height:0; font-size:0;}
.container{width:auto; height:auto;}
.wrapper{width:1000px; margin:0 auto;}

/*================================Header================*/
.header{width:auto; height:auto;}
.top-sec{width:auto; height:auto;}
.top-sec h1{float:left;}
.top-sec h3{ clear: right; color: #2e5aaa; float: right; font-family: "Lato",sans-serif; font-weight: 400; font-size: 18px;  margin-top: 53px;}
.top-socialicon img{margin-left: 5px;}
.top-socialicon{float:right;}
.banner-section{border-top:1px solid #b2b2b2; padding-top:6px; margin-top:18px; margin-bottom:10px;}
/*================================Header end================*/

/*================================mid body================*/
.career-monetizer{width:auto; height:auto;}
.career-monetizer h2{background:#b2b2b2; line-height:58px; font-size:29px; color:#000; text-align:center; text-align:center;}
.musicians{background:#e1e5f2; border-bottom:1px solid #b2b2b2; margin-top:5px; padding:5px 0 10px 0;}
.musicians ul{padding:0; margin:0;}
.musicians ul li{width:185px; float:left;  border-right:2px solid #b4b6bb; padding-left:13px; border-top:5px solid #e1e5f2; padding-top:10px;}
.musicians ul li:hover{border-top:5px solid #e5082e;}
.musicians ul li:last-child{border-right:none;}
.musicians ul li h3{width:111px; float:left; font-size:13px; color:#e5082e; font-family: "Lato",sans-serif; font-weight: 400;}
.musicians ul li h3 span{display:block; color:#2e5aaa; font-size:12px;  font-family: "Lato",sans-serif; font-weight: 700;}
.exclusive-sev{width:478px; float:left; border-bottom:2px solid #b2b3b5; padding:20px 0; margin-right:22px;}
.exclusive-sev img{float:left; border:1px solid #5b5f65; margin-right:20px; width:140px; height:120px;}
.exclusive-sev h2{color:#5c6167; font-size:20px;  font-family: "Lato",sans-serif; font-weight: 700; padding-bottom:10px;}
.exclusive-sev p{color:#000; font-size:14px;  font-family: "Lato",sans-serif; font-weight: 400; line-height:20px;}
.middle-panal{padding-top:10px;}
.right-video{width:480px; float:right; height:327px; border:1px solid #033b86;}
.video-section{background:#0d57ba; height:184px; padding:15px;}
.video-section h2{color:#fff; font-size:36px;  font-family: "Lato",sans-serif; font-weight: 700; line-height:38px; text-transform:uppercase; text-align:center; padding-bottom:12px;}
.join-nowsec{background:#25a8bf;}
.join-nowsec h2{font-size:20px;  font-family: "Lato",sans-serif; font-weight: 700; line-height:38px; text-align:center; background:#252525; color:#fff;}
.join-nowsec form{padding:15px 15px;}
.join-nowsec form input[type="text"]{background:#fff; width:297px; height:33px; border:1px solid #0f4a99; font-size:14px;  font-family: "Lato",sans-serif; font-weight: 400; line-height:33px; padding:5px; float:left;}
.join-nowsec form input[type="submit"]{background:#056f02; color:#fff; font-size:24px;  font-family: "Lato",sans-serif; font-weight: 700; line-height:43px; text-align:center; width:132px; border:0px; float:right; text-transform:uppercase;}
/*================================mid body end================*/

/*================================footer================*/
.add-sec{background:#ededed; padding:40px 0;}
.add-sec img {float: left; margin: 0 16px;}
.footer-link{background:#576072; padding:10px 0;}
.footer-link ul{padding:0; margin:0;}
.footer-link ul li{float:left; font-size:16px; font-family: "Lato",sans-serif; font-weight:400; color:#fff; width:250px; padding:4px 0;}
.footer-link ul li a{color:#fff;}
.copyright-sec p{background:#1f3e76; line-height:50px; color:#fff; text-align:center; font-size:16px; font-family: "Lato",sans-serif; font-weight: 400;}
/*================================footer end================*/
.wrp{
	width:1000px;
	margin:0 auto;
}
.hdrs .wrp h1 {
    float: left;
}
.hdrs.monzi .wrp{
   /* border-bottom: 0px solid #b50400;*/
}
ul{padding:0; list-style-type:none;}
.lrne ul li {
    display: inline-block;
    margin: 0 3px;
    vertical-align: top;
    width: 190px;
}
.monzi_page .pkse .wrp > h2{ margin-top: 40px;}
.lrne > h3 {
	margin:	20px 0px;
    color: #1e68a5;
    display: block;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    text-align: center;
}
.lrne ul li img{width:100%;}
.wrap_inres {
    float: right;
    padding-top: 34px;
    text-align: right;
}
.wrap_inres a{color:#bc252c; text-decoration:none; vertical-align:bottom; margin-left:5px; font-size:18px;}
.monzi_page .pkse .wrp > h2{font-size:44px;}
.monzi_page #foot p {
    background: rgba(0, 0, 0, 0) url("../images/gbe_logo_g.png") no-repeat scroll 0 0;
    color: #b7e3ee;
    font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 14px 0 0 118px;
}
.sing input#emailAddr {
    margin: 10px 0;
}

.real_ppup {
	margin: 0 auto;
	width: 728px;
}
.real_ppup h2 {
	display: block;
	text-align: center;
}
.real_ppup p {
	display: block;
	text-align: center;
}
.img_scn {
	text-align: center;
}
.real_ppup h2 {
	display: block;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	text-align: center;
}
.real_ppup p {
	display: block;
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	text-align: center;
	padding: 10px 0 0;
}
.real_ppup p strong {
	font-size: 22px;
	line-height: 22px;
	color: #ca2c2b;
}
.yesse a {
	color: #081285;
	display: block;
	font-size: 28px;
	font-weight: bold;
	line-height: 46px;
	margin: 10px auto;
	text-align: center;
	text-decoration: none;
	width: 260px;
	border:1px solid #cb4400;
	border-radius:5px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffba36+0,ffc933+34,ffb500+66,ff8c00+100 */
	background: #ffba36; /* Old browsers */
	background: -moz-linear-gradient(top, #ffba36 0%, #ffc933 34%, #ffb500 66%, #ff8c00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffba36 0%, #ffc933 34%, #ffb500 66%, #ff8c00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffba36 0%, #ffc933 34%, #ffb500 66%, #ff8c00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba36', endColorstr='#ff8c00', GradientType=0 ); /* IE6-9 */
}
.yesse p {
	display: block;
	text-align: center;
}
.yesse > h3, .prchz > h3 {
	color: #f5050d;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 15px;
}
.prchz ul li input {
	display: block;
	float: left;
	margin: 5px 10px 0 0;
}
.prchz ul li {
	font-size: 22px;
	line-height: 22px;
	color: #020b61;
	padding-bottom: 12px;
}
.prchz ul {
    list-style-type: none;
    padding: 0 0 0 17px;
}
.real_ppup p span {
	font-size: 22px;
	line-height: 22px;
}
body.monzi_page{border:0; padding:0;}
.monzi_page.buty h1 {
	color:#9da8be;
	text-align:center;
	}

.monzi_page.nutri_page .hdrs h1 {
    color: #d4056d;
	font-size:30px;
	text-align:center;
}
.monzi_page h1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #1d5f99 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 3px 0;
    display: block;
    float: none !important;
    font-weight: normal;
    line-height: 42px;
    margin-bottom: 8px;
    padding: 15px 0;
    text-align: left;
}
.monzi_page.mettup_oage .imr_tp > img{border:0;}
.monzi_page.mettup_oage h1 strong{
    font-weight: normal;
	color:#c70404;
}
.hdrs.monzi .wrp {
    padding: 0;
}
.monzi_page .imr_tp > img {
    border: 0 none;
}
.monzi_page .hdr_btm{clear:both;}

.monzi_page.buty .pkse {
    background: #f0e9e1 none repeat scroll 0 0;
}
.monzi_page.nutri_page .pkse {
    background: #cdcec9 none repeat scroll 0 0;
}
.monzi_page.nutri_page .pkse .wrp > h2{color:#5b5847;}
.monzi_page.buty .pkse .wrp > h2{color:#9b8472;}
.monzi_page .vws_tp_vid_dmo {
    top: 60px;
}
.monzi_page .vws_tp_vid_dmo > h3{display:none;}
.monzi_page.models_page .hdrs .wrp h1 {
    color: #999;
    font-size: 18px;
	text-transform:uppercase;
}
.monzi_page.music_page .hdrs .wrp h1 {
    color: #999;
    font-size: 24px;
}
.musicians img {
    float: right;
    height: 60px;
    margin-right: 10px;
    width: 60px;
}


.video-section > img {
    height: 133px !important;
}

.exclusive-sev:nth-child(5), .exclusive-sev:nth-child(7), .exclusive-sev:nth-child(9), .exclusive-sev:nth-child(11) {
    margin-left: 20px;
    margin-right: 0;
}
.models_in li img, 
.music_in li img{border:0; padding:0; width:100%;}
.music_in li:nth-child(1), .music_in li:nth-child(4), .music_in li:nth-child(3), .music_in li:nth-child(6){
    width: 400px;
}

.music_in li:nth-child(2), .music_in li:nth-child(5) {
    margin: 0 8px;
    width: 174px;
}
.models_in li:nth-child(2), .models_in li:nth-child(3), .models_in li:nth-child(6), .models_in li:nth-child(7) {margin-right:6px; margin-left:6px;}

.models_in li{display:inline-block; vertical-align:top; margin-bottom:10px; width:240px;}
.music_in li{display:inline-block; vertical-align:top; margin-bottom:10px;}