body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	margin:0;
}
*{padding:0; margin:0;}
ol, ul, li {
    list-style: outside none none;
	padding:0;
}

.clear {
    clear: both;
}
a{text-decoration:none;}
.headers {
    background: rgba(0, 0, 0, 0) url("../CT_images/top-hdr-bg.png") repeat-x scroll 0 0;
}
.logo {
    margin: 0 auto;
    width: 960px;
}
.logo h1 {
    float: left;
    margin-top: 21px;
}
.logort.logu {
    float: right;
    position: relative;
}
.logort > p {
    color: hsl(0, 0%, 100%);
    position: absolute;
    right: 0;
    top: 20px;
}
.logort.logu a {
    background: hsla(0, 0%, 100%, 0.3) none repeat scroll 0 0;
    border-radius: 3px;
    color: hsl(0, 0%, 100%);
    padding: 3px 7px;
}
#maincontainers {
    margin: 0 auto;
    width: 960px;
}
.bdysec {
    padding: 20px 0;
}
.bdysec-nav ul {
    margin: 0 -20px;
}
.bdysec-nav ul li:first-child {
}
.bdysec-nav ul li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 28px;
}
.bdysec-nav ul li a {
    color: #26405b;
    font-size: 18px;
}
.bdysec-nav ul li a:hover {
    border-bottom: 1px solid blue;
    color: #069;
}
/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  position: relative;
}
#cssmenu {
  width: auto;
  display:block;
  border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#cssmenu a {
  line-height: 1.3;
}
#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: url("../CT_images/put.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
#cssmenu > ul > li:first-child > a {
  padding: 8px 10px;
  background: #2D4A67;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: 300; 
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
   background: url("../CT_images/put.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}

#cssmenu > ul > li {
  /*background: #e94f31;
  background: -moz-linear-gradient(#e94f31 0%, #d13516 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e94f31), color-stop(100%, #d13516));
  background: -webkit-linear-gradient(#e94f31 0%, #d13516 100%);
  background: linear-gradient(#e94f31 0%, #d13516 100%);
  
  
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */*/
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 0%, rgba(130,140,149,1) 30%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(0%,rgba(130,140,149,1)), color-stop(30%,rgba(130,140,149,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(130,140,149,1) 30%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(130,140,149,1) 30%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(130,140,149,1) 30%); /* IE10+ */
background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 0%,rgba(130,140,149,1) 30%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#828c95',GradientType=0 ); /* IE6-9 */
  
}
#cssmenu > ul > li:hover {
  background: #e84323;
  background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);
  
  background: -moz-linear-gradient(top, #009ec3 0%, #00b7ea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009ec3), color-stop(100%,#00b7ea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #009ec3 0%,#00b7ea 100%); /* Chrome10+,Safari5.1+ */
}
#cssmenu > ul > li > a {
  font-family: "Ubuntu",sans-serif;
  font-size: 12px;
  padding:8px;
  display: block;
  background: url(menu_images/pattern.png) top left repeat;
  color: #ffffff;
  border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;
  border-color:#000;
  text-align:left;
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(menu_images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(menu_images/icon_minus.png) 96% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#cssmenu ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: .8em;
  font-weight: normal;
}
#cssmenu ul ul a:before {
  content: '\00BB';
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#cssmenu ul ul a:hover {
  color: #069;
}
.bdysec_left {
    float: left;
    width: 649px;
}
.bdysec_right {
    float: right;
    width: 301px;
}
.my-left-cont {
    float: left;
    margin-right: 10px;
   /* width: 140px;*/
   width:182px;
}
.my-right-cont {
    width: 100%;
}
.clform {
    background: #95afbc none repeat scroll 0 0;
    border: 1px solid #547d92;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    z-index: 0;
}
.palvidd {
    cursor: pointer;
}
.fmpi {
    border: 5px solid #fff;
    height: 155px;
    width: 268px;
}
.clform > p {
    color: #0f1822;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 7px;
}
#fmmr {
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}
#fmmr > p {
    margin-bottom: 1px;
    overflow: hidden;
}
#fmmr label {
    color: #010101;
    display: block;
    float: left;
    width: 25%;
}
#fmmr input[type="text"], #fmmr input[type="email"] {
    border: 0 none;
    float: right;
    margin-bottom: 5px;
    padding: 6px 3px;
    width: 70%;
}
#fmmr input[type="submit"] {
    background: #a20000 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 0 #333333;
    color: #f2f2f2;
    float: right;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 5px 0;
    padding: 5px;
    position: relative;
    width: 72%;
    z-index: 0;
}
.bdysec_right .put {
    background: #000 none repeat scroll 0 0;
    color: #f9ec17;
}
.put {
    background: rgba(0, 0, 0, 0) url("../CT_images/put.png") repeat-x scroll 0 0;
    border-radius: 5px;
    border-top: 1px solid #874862;
    box-shadow: 1px 2px 2px 0 #333333;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 26px;
    padding: 11px 10px;
    position: relative;
    text-align: center;
    z-index: 0;
}
.event {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 0 10px;
    position: relative;
    z-index: 0;
}
.fashn_rit {
    float: right;
    padding-right: 10px;
    width: 290px;
}
.fashn_rit.event > h3 {
    padding-left: 10px;
}
.fashn_rit h3 {
    color: #4f5051;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.fashn_rit.event img {
    margin: 0 10px;
}
.fashn_rit img {
    float: left;
    margin-right: 12px;
}
.fashn_rit.event a {
    color: #060d13;
    margin: 0;
}
.tvclass > a {
    color: #060d13;
    display: block;
}
.crt h3, .mind h3, .event h2, .met h2, .buss h2, .nabou h2, .bnk h2, .book h2 {
    background: #28435f none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 0;
    padding-left: 10px;
    position: relative;
    text-align: left;
    z-index: 0;
}
.hrr {
    border-color: #d1d0d0 -moz-use-text-color -moz-use-text-color;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-top: 10px;
}
.met {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0 0 10px;
    position: relative;
    z-index: 0;
}
.fashn_rit.met a {
    display: block;
    min-height: 150px;
}
.book {
    background: #fefefe url("images/secu-img-bg.png") repeat-x scroll 0 bottom;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    text-align: center;
    z-index: 0;
}
.fashn_rit p, .mind_inr p, .phasul p {
    color: #060d13;
    font: 12px/18px Arial,Helvetica,sans-serif;
    padding-left: 10px !important;
}
.book p {
    background: #959494 none repeat scroll 0 0;
    bottom: 18px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 23px;
    font-weight: 700;
    left: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.list-detail:first-child {
    margin-top: 0;
}
.list-detail {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    margin-top: 20px;
    overflow: hidden;
    padding: 5px;
    margin-bottom:15px;
}
.article-left-img {
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}
.list-detail h1 {
    font-size: 20px;
    line-height: 25px;
    padding: 10px;
}
.dth {
    margin-top: 0;
    padding-top: 0 !important;
}
p {
    margin: 0 0 10px;
}
.src_catgr ul li p{position:absolute; background:rgba(0,0,0,0.6); color:#fff; text-align:center; width:93%; padding:5px; bottom:-10px;}
.src_catgr ul li {
	position:relative;
    display: inline-block;
    height: 137px;
    margin: 6px;
    vertical-align: top;
    width: 137px;
}

.src_catgr img {
    height: 100%;
    width: 100%;
}
.src_catgr{background:#e9e9e9;}
.srce-sec {
    background: #cbd0d4 none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 5px;
}
.srce-sec > input {
    border: 0 none;
    padding: 3px;
	margin:0 0 0 20px;
}






.wraper{width:960px; margin:0 auto;}
.ct_buty_hdr .wraper h1 {
    float: left;
	margin:0;
}
.ct_buty_hdr .wraper .navihat{float:right; margin:30px 0 0 0}
.navihat ul{ text-align:right;}
.navihat li{display:inline-block; margin-left:10px;}
.navihat li a{ display:block; color:#77755e; font-weight:bold;}
.navihat li a:hover{}
.ct_buty_bdy {
   /* background: #0f1827 none repeat scroll 0 0;*/
   margin-top: 175px;
}
.my_top_sec {
   /* background: #3d505f none repeat scroll 0 0;
    padding: 10px;*/
}

.my_top_sec_left {
    float: left;
	width:260px;
 background:#ededed;
 padding:12px;
}
.my_top_sec_left > img {
    width: 100%;
}
.my_top_sec_rit {
    float: right;
	width:660px;
}

.my_top_sec_rit > h3 {
    color: #000;
    font-size: 23px;
    font-weight: normal;
    margin: 0; background:#b8eff6; line-height:40px; padding-left:15px; }
    
.ct_mid_sec{padding:10px;}
.ct_mid_sec li,
.my_top_sec_rit li {
    background: #f1f1f1 none repeat scroll 0 0;
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 10px;
    width: 185px;
    text-align:center;
    border:1px solid #c7c7c7;
}
.li_dv{background:#fff; padding:0 5px 15px;}
.my_top_sec_rit img {
    /*display: block;*/
}
.li_dv > p {
    color: #641e1e;
    font-size: 16px;
	line-height:24px;
}
.hus_dtl_lf > h3 {
      border-top: 1px solid #ccc;
    font-size: 17px;
    margin: 0;
    padding: 5px 0;
    text-transform: none;
}
.tle_prc strong {
    color: #900011;
    float: right;
    font-size: 24px;
    line-height: 24px;
}
.tle_prc span{color: #443935; font-weight:bold;} 
.hus_dtl_rit> p,
.hus_dtl_lf > p {
     border-top: 1px solid #ccc;
    color: #858585;
    display: block;
    font-size: 15px;
    line-height: 18px;
    padding-top: 8px;
}
.tthm > strong {
    display: block;
    font-weight: normal;
}
p.tthm{
	text-align:right;
}
.hus_dtl_rit {
    float: right;
}
.hus_dtl_lf {
    float: left;
}
a.cont_agn {
    background: #43a72d none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin: 20px auto 0;
    text-align: center;
    width: 142px;
}
p.roomse {
    color: #443935;
}
.kachemnt > h2 {
    color: #484848;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
.kachemnt > strong {
    color: #cd391b;
    font-size: 16px;
}

.kachemnt > p {
    color: #484848;
	margin-bottom:0;
 font-size:14px;
}
.cntct_dtl > a{color: #cd391b; display:block; font-size:14px; line-height:18px; padding:0; margin:0;}
.cle{color: #cd391b; display:block; font-size:14px; line-height:18px; padding-top:4px;}
.shres > a {
    background: #6f767c url("../images/sh.png") no-repeat scroll 5px center;
    color: #fff;
    display: block;
    float: right;
   width:70px; line-height:27px; text-align:center;
}
.tle_prc {
    border-top: 1px solid #ccc;
    padding-top: 12px;
}

.shres {
    margin-top: 16px;
}
.wraper h2.rel{
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    margin: 0;
    padding-bottom: 8px;
}

.ct_vedo_left > h2 {
    color: #fff;
}

.vdo_imges li {
    display: inline-block;
}
.conq {
   /* background: #32586f none repeat scroll 0 0;*/
}
.conq h3{
    color: #2a5894;
    display: block;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 10px 0 0;
    text-transform: uppercase;
}
.footer {
    background: #25435d none repeat scroll 0 0;
 }
.footer p{
   color: #fff;
   /* padding: 14px 0 10px;*/
    text-align: center;
	margin:0;
}
.conq .wraper {
    padding: 20px 0;
}
.conq .wraper img{
	  float: left;
    margin-right: 15px;
    width: 305px;
}
.conq .wraper img:first-child{
	float:left;
}
h2.rele {
    color: #2a5894;
    display: block;
    margin: 0 0 10px;
    padding: 10px 0 0;
    font-size:22px;
    text-transform:uppercase;
    font-weight:normal;
    
}
.vde_pro li {
    display: inline-block;
	position:relative;
 border: 1px solid #dcdcdc;
}
.pro_like img,
.vde_pro img{display: block;
    height: 155px;
    width: 122px;}
.vde_pro p {
    background: #f00 none repeat scroll 0 0;
    bottom: -10px;
    color: #fff;
	font-weight:bold;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.flwe > h3, .pro_like > h3,
.vde_pro > h3, .vde > h3 {
    color: #2a5894;
    display: block;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 10px;
    padding: 15px 0 0;
    text-transform: uppercase;
}
.my_vedios_rit {
    float: right;
}

.my_vedios_lefts {
    float: left;
}
.pro_like li {
    display: inline-block;
    position: relative;
}

.pro_like p {
    background: #f00 none repeat scroll 0 0;
    bottom: -10px;
    color: #fff;
    font-weight: bold;
    padding: 2px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.part_iner > p {
    color: #fff952;
    float: left;
    font-size: 26px;
    line-height: 30px;
    padding: 12px 0 0 40px;
    text-align: center;
    width: 143px;
}
.part_iner > img {
    float: right;
}
.part_iner > p strong{
    color: #fff952;
    font-size: 62px;
    line-height:66px;
	display:block;
}
.conq_in img{}
.vde > img {
   border: 1px solid #cbcbcb;
    box-shadow: 0 0 5px #fff;
    display: inline-block;
    height: 120px;
    margin: 0 5px 0 0;
    padding: 3px;
    width: 222px;
}
.part_iner {
    background: #034d6a none repeat scroll 0 0;
	padding:10px;
}
.join_frme > h3 {
    background: #203838 none repeat scroll 0 0;
    color: #31bd8e;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    text-align: center;
}
.join_frme form{
    background: #2bbf8d none repeat scroll 0 0;
	padding:10px;
}
.join_frme form input[type="submit"] {background: #027c4d none repeat scroll 0 0; border:0; text-transform:uppercase; color:#fff; font-weight:bold; padding:4px 20px;}
.join_frme form input[type="email"] {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
	padding:5px;
	width:74.5%;
	margin-right:3px;
}
.prntrs{/*border-top: 6px solid #2bbf8d;*/
    padding-top: 20px;}
.vde_pro{
   /* border-bottom: 6px solid #2bbf8d;*/
    padding-bottom: 5px;
}
.flwe{ 
     border-top: 6px solid #2bbf8d;
     border-bottom: 6px solid #2bbf8d;
     padding-bottom: 5px;}
.vde {
    border-bottom: 6px solid #2bbf8d;
    padding-bottom: 20px;
}
.flwe > ul li{display:inline-block;}
.flwe > ul {
    float: right;
    margin-top:10px;
}

.flwe > h3 {
    float: left;
    padding-top: 20px;
       float: left;
    font-size: 15px;
    font-weight: 600;
}
.new_sec_added{
   margin-left: 192px;
    width: 457px;
}
.left-top{float:left; width:280px;}
.left-download-banner{background:#2f5aa9; height:375px; padding:15px; margin-top:20px;}
.left-download-banner h2 {
     color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
}

.top-sec {
    height: auto;
    width: auto;
}

.left-download-banner > p {
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    padding-top: 28px;
}

.top-sec {
    height: auto;
    width: auto;
}
.download-button {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9ec9d4;
    color: #3a3a3a;
    display: block;
    font-size: 19px;
    line-height: 28px;
    margin: 30px auto 0;
    text-align: center;
    width: 143px;
}
.my_top_sec_rit.modlse li {
    height: 280px;
    position: relative;
    vertical-align: top;
    width: 189px;
}
.my_top_sec_rit.modlse li:nth-child(3), .my_top_sec_rit.modlse li:nth-child(6), .my_top_sec_rit.modlse li:nth-child(9), .my_top_sec_rit.modlse li:nth-child(12) {
    margin-right: 0;
}
.buys {
    background: #4f595b none repeat scroll 0 0;
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.buys > a {
    background: rgba(0, 0, 0, 0.3) url("../CT_images/shoping_bskt.png") no-repeat scroll center center;
    background-size:64% 66%;
	border-radius: 10px 0 0 10px;
    display: block;
    float: right;
    height: 16px;
    margin: 6px 0 0;
    padding: 4px;
    width: 22px;
}
.buys > p {
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 4px 0 0;
    padding: 7px;
}
.my_top_sec_rit.modlse img{width:100%; height:100%;}

.conq .wraper .conq_in > img {
    width: 310px;
}
.vde .vdo_inr > img:last-child,
.conq .wraper .conq_in > img:last-child {
    margin-right: 0;
}
.vde .vdo_inr > img{
    border: 1px solid #cbcbcb;
    box-shadow: 0 0 5px #fff;
    display: inline-block;
    height: 120px;
    margin: 0 5px 0 0;
    padding: 3px;
    width: 226px;
}

.my_top_sec_rit li img {
    height: 230px;
    width: 185px;
}