@charset "utf-8";
/* CSS Document */

.jcarousel-container {
    width: 460px;
}
.jcarousel-clip {
    overflow: hidden;
}
.jcarousel-prev {
    background: rgba(0, 0, 0, 0) url("../images/prev.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block !important;
    height: 16px;
    left: -23px;
    position: absolute;
    width: 15px;
}
.jcarousel-next {
    background: rgba(0, 0, 0, 0) url("../images/next.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block !important;
    height: 16px;
    position: absolute;
    right: -15px;
    width: 15px;
}
.jcarousel-next-disabled, .jcarousel-prev-disabled {
    opacity: 0.4;
}
/*.jar-car-youtube {
    margin-bottom: 15px;
}
.jcarousel-prev, .jcarousel-next{top:30.5%;}
.ved-youtube li{ width:140px !important;}*/
