.col_in p {
    border: 1px solid #a0a0a0;
    float: left;
    margin-right: 15px;
    overflow: hidden;
    padding: 5px;
    max-width: 14%;
}
.col_col label {
    border: 1px solid #ccc;
    display: block;
    float: left;
    height: 24px;
    width: 28px !important;
    margin-right:5px;
}
.col_col > input[type="text"]{
    font-size: 13px;
    height: 16px !important;
    width: 20px !important;
}
.col_col > input[type="checkbox"]{
    height: 16px !important;
    width: 16px !important;
}


.tpsp > input[type="radio"] {
    display: block !important;
    float: left !important;
    height: 16px !important;
    width: 16px !important;
    margin: 2px 3px 0 0;
}

.tpsp strong {
    font-weight: normal;
}

.qnty_sec > input[type="radio"] {
    display: block;
    float: left;
    height: 22px;
    margin: 0;
    width: 30px;
}
.tpsp {
    overflow: hidden;
}

.qnty_sec > input[type="radio"] {
    display: block;
    float: left;
    height: 22px;
    margin: 0;
    width: 30px;
}
.col_qnt {
    margin: 15px 0;
    overflow: hidden;
}
.col_in {
    margin-top: 10px;
     clear: left;
    overflow: hidden;
}

.col_in_edit {
    margin-top: 10px;
     clear: left;
    overflow: hidden;
}
.col_in_edit p {
    border: 1px solid #a0a0a0;
    float: left;
    margin-right: 15px;
    max-width: 14%;
    overflow: hidden;
    padding: 5px;
}
.col_tpps > p {
    float: left;
    margin-right: 90px;
}
.col_tpps input {
    display: block;
    float: left !important;
    height: 16px;
    margin: 3px 2px 0 0;
    width: 16px !important;
}

span.colorActive {
    background: url("../images/act_col_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    display: block;
    height: 13px;
    left: 15px;
    position: absolute;
    top: 11px;
    width: 13px;
}
.col_col {
    position: relative;
}
img.imgEdit {
    border: 0 none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 2px;
    top: 1px;
    width: 51px;
}
.col_col span{display:block;}