@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #71cbd3;
	font: normal 12px/18px Arial, Helvetica, sans-serif;
}
html * {
	outline: none;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}

.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
}

#wrap{width:960px; margin:0 auto;}
.bdy_sec{}
.gambi_gr .bdy_lft h2 {
    margin-bottom: 92px;
}
.bdy_lft h2 {
    color: #fff;
    font-size: 59px;
    font-weight: bold;
    line-height: 64px;
    margin-bottom: 180px;
	font-family: 'Roboto', sans-serif;
}
.bdy_lft {
    float: left;
    padding-top: 20px;
    width: 60%;
}
.bdy_lft h2 strong{ display:block; font-size:26px; line-height:40px; color:#539ea3; font-family: 'Roboto', sans-serif;}

.bdy_right {
    float: right;
    margin-top: 0;
    width: 35%;
}
.logo_sec {
    text-align: center;
	margin:36px 0;
}
.bdy_right img{}
.bdy_right p { color:#1f9192; font-size:18px; font-weight:bold; line-height:20px; padding:15px 0; font-family: 'Roboto', sans-serif;}
.bdy_right h1 {
    color: #c4c065;
    font-size: 36px;
    line-height: 38px;
}

#signupfrm > strong {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
    color: #fff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    padding: 9px 3px 3px 10px;
    width: 70%;
}
#signupfrm {}
.frm_in {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0 5px 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.signup {
    margin-bottom: 20px;
}
.frm_in input[type="email"], #signupfrm input[type="text"] {
    border: 0 none;
    display: block;
    font-size: 16px;
    height: 35px;
    margin: 0 0 4px;
    padding: 3px;
    width: 98.5%;
	color:#25369c;
	border-radius:3px;
}
.frm_in select{
    border: 0 none;
    display: block;
    font-size: 16px;
    height: 35px;
    margin: 0 0 4px;
    padding: 3px;
    width: 100%;
	color:#89a4db;
	border-radius:3px;
}

#signupfrm input[type="submit"] {
    background: rgba(0,0,0,0.2);
    border: 0 none;
    border-radius: 5px;
    display: block;
    float: right;
    font-size: 18px;
    line-height: 34px;
    width: 40%;
	margin-left:10px;
	cursor:pointer;
	color:#fff;
}
#signupfrm input[type="submit"]:hover, #signupfrm input[type="reset"]:hover{ background:none repeat scroll 0 0 rgba(41, 108, 186, 0.8);}
#signupfrm input[type="reset"] {
    background: rgba(0,0,0,0.2);
    border: 0 none;
    border-radius: 5px;
    display: block;
    float: right;
    font-size: 18px;
    line-height: 34px;
	margin-right:10px;
	cursor:pointer;
    width: 40%;
	color:#fff;
}

#foot {background: none repeat scroll 0 0 #1b646a;}
#foot p{color:#b7e3ee; background:url(images/gbe_logo_g.png) 0 0 no-repeat; height:32px; padding:19px 0 0 120px; font-size:20px; font-family: 'Roboto', sans-serif;}







/*gambi whit section css*/
body.gambi_whit{background: url(images/wit_bg.png) left 70px no-repeat #fff !important;}
.gambi_whit #signupfrm > strong{background:#0318ff; border:3px solid #0318ff;}
.gambi_whit .frm_in {background:#0318ff;}
.gambi_whit #signupfrm input[type="submit"] {
    background: none repeat scroll 0 0 #0318ff;
    border: 0 none;}

.gambi_whit .bdy_lft h2 {
    color: #0318ff;
    font-size: 30px;
	margin-bottom:150px;
	font-family:times new roman;
}
.gambi_whit .bdy_sec {
    min-height: 620px;
}
.gambi_whit .rit_txt h3 {
    color: #ff433c;
    font-size: 22px;
    line-height: 24px;
	padding-top:45px;
	 font-family: times new roman;
}
.gambi_whit .rit_txt > p {
    color: #a6acf5;
	 font-family: times new roman;
}
.gambi_whit #foot {
    background: none repeat scroll 0 0 #0318ff;
}
.gambi_whit #foot p{color:#b7e3ee; background:url(images/wt_gbe_logo.png) 0 0 no-repeat; height:32px; padding:19px 0 0 120px; font-size:20px; font-family: 'Roboto', sans-serif;}



/*gambi health section css*/
body.gbe_health{ background:url(images/gbe_health.png) 0 0 / 100% no-repeat;}
.gbe_health #signupfrm > strong{background:#549fa5; border:3px solid #549fa5;}
.gbe_health .frm_in {background:#549fa5;}
.gbe_health .logo_sec {margin: 122px 0;}

.gbe_health #wrap {
    padding: 0 30px;
    width: inherit;
}
.gbe_health .bdy_right {
    width: 335px;
}
.gbe_health .vdos{overflow:hidden;}
.gbe_health .vdo_txt {
    float: left;
}
.gbe_health .vdo_sec {
    float: right;
}
.gbe_health .vdo_txt h3 {
    color: #002f9c;
    font-size: 30px;
    line-height: 50px;
	text-transform:uppercase;
	font-weight:bold;
}

.gbe_health .bdy_lft h2{font-size:42px;}
.gbe_health .bdy_sec {
    min-height: 700px;
}
.gbe_health #foot p{color:#b7e3ee; background:url(images/helth_logo.png) 0 0 no-repeat;}

.gbe_health #signupfrm input[type="submit"] {background: none repeat scroll 0 0 #549fa5;}




/*gambi health section css*/

body.gambi_bze{
    background: url("images/bzz_bg.png") no-repeat scroll 0 0 #fff !important;
}

.gambi_bze #wrap {
    padding: 0 223px 0 20px;
    width: inherit;
}
.gambi_bze .logo_sec {
    margin:2px 0;
    text-align: left;
}
.gambi_bze #signupfrm > strong{background:#0318ff; border:3px solid #0318ff;}
.gambi_bze .frm_in {background:#0318ff;}
.gambi_bze #signupfrm input[type="submit"] {background: none repeat scroll 0 0 #0318ff;}
.gambi_bze .bdy_lft h2 {
    color: #0318ff;
    font-family:times new roman;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 10px;
}
.gambi_bze .vdos {
    float: right;
    margin-top: 48px;
}
.gambi_bze .bdy_lft p{
    color: #ff433c;
    font-family: times new roman;
    font-size: 22px;
    line-height: 24px;
}
.gambi_bze #foot p{color:#b7e3ee; background:url(images/wt_gbe_logo.png) 0 0 no-repeat;}
a.sfg {
    background: none repeat scroll 0 0 #f00;
    border-radius: 5px;
    color: #fff;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    width: 28%;
}

#signupfrm input[type="submit"]:hover, a.sfg:hover {
    background: none repeat scroll 0 0 rgba(41, 108, 186, 0.8);
}

span.error {
    color: #f00;
    display: block;
    padding-top: 5px;
}
.vdos iframe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}
.gambi_bze .vdos > img {
    margin:0 16px 0 0;
}

.gambi_bze .bdy_lft {
    width: 63.9%;
}
.gambi_whit .vdos {
    float: right;
    margin-right: 75px;
}